
<!-- PARTIAL OF NAV -->
{{> nav}}
<!-- FILTERS -->
<section class="bg-light">
	<div class="container text-center bg-light py-3">
		<form method="get" action="/houses">
			<div class="row">
				<!-- LOCATION FILTER -->
				<div class="col">
					<div class="input-group">
						<label class="input-group-text">
							<i class="fa-solid fa-location-dot"></i
						></label>
						<select class="form-control form-select-sm" name="location">
							<option value="">Any Location</option>
							<option>Koh Samui</option>
							<option>Koh Phangan</option>
							<option>Bali</option>
						</select>
					</div>
				</div>
				<!-- ROOMS FILTER -->
				<div class="col">
					<div class="input-group">
						<label class="input-group-text"
							><i class="fa-solid fa-house"></i
						></label>
						<select class="form-control form-select-sm" name="rooms">
							<option value="">Any rooms</option>
							<option value= 1>1 room</option>
							<option value= 2>2 rooms</option>
							<option value= 3>3 rooms</option>
							<option value= 4>4 rooms</option>
							<option value= 5>5 rooms</option>
						</select>
					</div>
				</div>
				<!-- MAX PRICE FILTER -->
				<div class="col">
					<div class="input-group">
						<label class="input-group-text"
							><i class="fa-solid fa-dollar-sign"></i
						></label>
						<input
							type="number"
							class="form-control"
							aria-label="Amount (to the nearest dollar)"
							placeholder="Max Price"
							name = "maxPrice"
						/>
					</div>
				</div>
				<!-- PRICE FILTER DROPDOWN -->
				<div class="col">
					<div class="input-group">
						<label class="input-group-text"
							><i class="fa-solid fa-sort"></i
						></label>
						<select class="form-control" name="priceDropdown">
							<option value="price">Price (low to high)</option>
							<option value="-price">Price (high to low)</option>
						</select>
					</div>
				</div>
				<!-- SEARCH FILTER -->
				<div class="col">
					<div class="input-group flex-nowrap">
						<input
							type="text"
							class="form-control"
							placeholder="House name..."
							aria-label="Username"
							aria-describedby="addon-wrapping"
							name = "searchFilter"
						/>
					</div>
				</div>
				<!-- SEARCH BUTTON -->
				<div class="col">
					<button class="btn btn-success">Search</button>
				</div>
			</div>
		</form>
	</div>
</section>
<!-- END OF FILTERS -->
<!-- CARDS/HOUSES SECTION -->
<section>
<div class="container text-center mt-4">
	<div class="row row-cols-4 gp-3">
<!-- COLUMN START -->
{{#each houses as |house|}}
		<div class="col-3">
			<div class="card">
				<img
					src="{{house.photos.[0]}}"
					class="card-img-top"/>
				<div class="card-body text-start">
					<p class="small">
						<i class="fa-solid fa-location-dot"></i> {{house.location}} • {{house.rooms}} Rooms
					</p>
					<h5 class="card-title mb-3">{{house.title}}</h5>
					<div class="row">
						<div class="col">
							<p class="small">
								<i class="fa-solid fa-thumbs-up text-success"></i> 3
								Reviews
							</p>
						</div>
						<div class="col text-end">
							<p class="small">${{house.price}}/Night</p>
						</div>
					</div>
					<a href="/houses/{{house._id}}" class="stretched-link"></a>
				</div>
			</div>
		</div>
{{/each}}
<!-- COLUMN END -->
	</div>
</div>
</section>
