<!-- PARTIAL OF NAV -->
{{> nav}}
<!-- SECTION PICTURES OF THE HOUSE - CONTAINER DIVIDED IN TWO COLUMNS. 2ND COLUMN HAS A CONTAINER WITH A 3 COLUMN GRID (9 PICTURES TOTAL) -->
<div class="container border border-grey">
	<div class="row">
		<!-- MAIN PICTURE OF THE HOUSE CELL -->
		<div class="col p-0">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
				class="img-fluid"
				alt="..."
			/>
		</div>
		<!-- GRID OF PICTURES OF THE HOUSE -->

		<div class="col">
			<div class="row row-cols-3 g-3 my-3">
				{{#each house.photos as |photo|}}
				<div class="col-4">
					<img src="{{photo}}">
				</div>
				{{/each}}
			</div>
		</div>
		<!-- END GRID OF PICTURES OF THE HOUSE -->
	</div>
</div>
<!-- END OF PICTURES section -->
<!-- DESCRIPTION AND PRICE CARD (2 colmns, 1st column 2 rows) -->
<div class="container border border-light">
	<div class="row">
		<div class="col-8">
			<!-- Description of the property -->
			<div class="row">
				<div class="">
					<p class='h1'>{{house.title}}</p>
				</div>
				<p class=small>{{house.location}} - {{house.rooms}} Rooms</p>
				<div class="row">
					<div class="col">{{user.avatar}}</div>
					<div class="col">{{user.name}}</div>
				</div>

			</div>
			<div class="row">{{house.description}}</div>
		</div>
		<!-- REQUEST BOOKING SIDE -->
		<div class="col py-5">
			<div class="card">
				<div class="card-body">
					<p class="h5 card-title">${{house.price}} a Night</p>
				  <p class="small"> 3 reviews</p>
					<form action="houses/one" method="post">
						<textarea class="form-control" name="description" rows=3></textarea>
						<button type="button" class="btn btn-success mt-4">Request booking</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
